@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}
.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}


html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #006fee;
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background-color:#151412; /* Cor de fundo da barra de rolagem */
}